.draw {
	@include card;
}

.draw-content {
	@include card-content;

	canvas {
		position: absolute;
		left: 0;
		top: 100px;
		width: 100%;
		height: calc(100% - 100px);
	}
}

.draw-header {
	@include card-header;
	box-shadow: 0 0 30px 15px white;
	
	p {
		margin: 0;
		text-align: center;
	}
}

.draw-label {
	@include uppercase-label;
	color: $red;
}