@font-face {
  font-family: "Miso";
  src: url("../assets/fonts/miso-regular.woff2");
  src: url("../assets/fonts/miso-regular.woff2") format("woff2"),
    url("../assets/fonts/miso-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Miso";
  src: url("../assets/fonts/miso-bold.woff2");
  src: url("../assets/fonts/miso-bold.woff2") format("woff2"),
    url("../assets/fonts/miso-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Miso";
  src: url("../assets/fonts/miso-light.woff2");
  src: url("../assets/fonts/miso-light.woff2") format("woff2"),
    url("../assets/fonts/miso-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
