.form {
	@include full-screen;
	@include slide-out;
	@include appear-fade-in;
	color: white;
	overflow: hidden;

	&.view-appear-active {
		transform-origin: 50% 40%;
	}

	.text-input, button {
		width: 100%;
		margin: 20px 0;
	}
}

.form-separator {
	margin: auto;
	font-weight: bold;
	text-align: center;
}

.form-group {
	@include full-screen;
	@include slide-in;
	@include slide-out;
}

.form-group-inner {
	@include content-container;
	top: 200px;
	max-height: 400px;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
}