.guess {
	@include card;
}

.guess-content {
	@include card-content;

	canvas {
		position: absolute;
		left: 50%;
		top: 140px;
		width: auto;
		height: calc(100% - 140px);
		transform: translateX(-50%);
	}
}

.guess-header {
	@include card-header;
	height: 140px;
}

.guess-label {
	@include uppercase-label;
	color: $red;
	margin-bottom: 10px;
	text-align: center;
}