@mixin full-screen {
	position: absolute;
	height: 100%;
	width: 100%;
}

@mixin content-container {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 90%;
	height: calc(100% - 150px);
	min-height: 300px;	
	max-width: 275px;
	transform: translateX(-50%);
}

@mixin remove-list-styles {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin slide-out {
	&.view-leave {
		transform: none;
		opacity: 1;
	}

	&.view-leave-active {
		transform: translateX(-100%);
		opacity: 0;
		transition: transform .6s $ease-in-back-out, opacity .6s $ease-in-back-out;
	}
}

@mixin slide-in {
	&.view-enter {
		transform: translateX(100%);
		opacity: 0;
	}

	&.view-enter-active {
		transform: none;
		opacity: 1;
		transition: transform .4s .3s $ease-out-back, opacity .4s .3s $ease-out-back;
	}
}

@mixin appear-fade-in {
	&.view-appear {
		transform: scale(0.9);
		opacity: 0;
	}

	&.view-appear-active {
		transform: none;
		opacity: 1;
		transition: transform .6s $ease-out, opacity .6s $ease-out;
	}
}