.rate {
	@include card;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.rate-content {
	@include card-content;
	position: relative;
	bottom: auto;
	margin-bottom: 30px;
	max-height: none;
	padding: 20px;
	overflow: visible;

	ul {
		list-style: none;
		padding: 0;
		padding-top: 0;
		margin: 0;
	}

	li {
		position: relative;
		border: 1px solid rgba(black, 0.1);
		background-color: rgba(black, 0.06);
		border-radius: 10px;
		margin-top: 20px;
	}

	canvas {
		width: 100%;
	}

	button {
		margin-top: 40px;
	}
}

.rate-header {
	@include card-header;
	height: auto;
	padding: 0;
	margin-bottom: 20px;

	p {
		margin: 0;
		text-align: center;
	}
}

.rate-header-label {
	@include uppercase-label;
	color: $red;
}

.rate-name {
	margin: 0 0 20px;
	text-align: center;
	color: $red;
}

.rate-guess {
	@include large-text;
	text-align: center;
	margin: 40px auto;
	text-transform: capitalize;

	canvas + & {
		margin: 10px auto 0;
	}
}

.rating-indicator {
	position: absolute;
	right: -10px;
	bottom: -10px;
	height: 76px;
	width: 76px;
	background-image: url(../assets/img/thumbs-up.svg);
	transform: scale(0) rotate(-15deg);
	opacity: 0;
	transition: transform .6s $ease-out, .3s $ease-out;

	&.is-visible {
		opacity: 1;
		transform: none;
		transition-timing-function: $ease-out-back-hard;
	}
}