$green: #4dd0b1;
$light-green: #97dba2;
$dark-green: #1da591;
$black: #2F2F2F;
$medium-gray: #9CA4A1;
$dark-gray: #626262;

$red: #ff7e71;
$yellow: #e2be82;
$lime: #b9dc80;

$ease-out: cubic-bezier(.17,.67,.35,1);
$ease-in-out: cubic-bezier(.66,.01,.17,1);
$ease-in-back-out: cubic-bezier(.78,-0.28,.2,1);
$ease-out-back: cubic-bezier(.33,1.33,.47,1);
$ease-out-back-hard: cubic-bezier(.34,2.5,.46,.98);