@import "styles/fonts";
@import "styles/vars";
@import "styles/mixins";
@import "styles/typography";

@import "styles/countdown";
@import "styles/button";
@import "styles/input";
@import "styles/select";
@import "styles/form";
@import "styles/lobby";
@import "styles/draw";


*, *:before, *:after {
	box-sizing: border-box;
}

html, body, #app, #app > div {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body, input, button {
	font-family: "Miso";
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

#app {
	background: linear-gradient(-45deg, $lime, $yellow, $red 90%);
}

.transition-container {
	@include full-screen;
	overflow: hidden;
}

.logo {
	@include slide-in;
	@include slide-out;
	@include appear-fade-in;
	position: absolute;
	height: 200px;
	width: 100%;

	&.view-appear-active {
		transform-origin: 50% 150%;
	}
}

.logo-content {
	position: relative;
	height: 100%;
	transform: scale(0.5) translateY(-100px);
	transition: transform .5s $ease-in-back-out;

	.is-large & {
		transform: translateZ(0);
	}
}

.logo-main {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 172px;
	height: 118px;
	background-image: url(../assets/img/logo.svg);
	transform: translate(-50%, -50%);
}

.logo-shadow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 172px;
	height: 118px;
	background-image: url(../assets/img/logo-red.svg);
	transform: translate(-50%, -50%) translateY(14px);
	filter: blur(8px);
}